<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="og:site_name" content="{{ SITE_NAME }}" />
<meta name="og:title" content="{{ SITE_NAME }} - {{ PAGE_TITLE }}" />
<meta name="og:description" content="{{ SITE_NAME }} - {{ PAGE_TITLE }}" />
<meta name="description" content="{{ SITE_NAME }} - {{ PAGE_TITLE }}" />
