module.exports = {
  db: {
    host: '',
    username: '',
    password: '',
    database: ''
  },
  socket: {
    logChat: false,
    logChatExpiry: 86400,
    password: 'magicalbacon',
    port: 19857
  },
  steam: {
    baseURL: '',
    apiKey: ''
  },
  webserver: {
    port: 3000,
    sessionSecret: '',
    siteName: 'SourceAdmin'
  }
};
