{% extends "main_index.njk" %}

{% block content %}
<div class="ui fixed inverted menu">
  <div class="ui container fluid">
    <a href="/" class="header item">{{ SITE_NAME }}</a>
    <a href="/" class="item">Dashboard</a>
    <a class="ui right item" href="/logout">Logout</a>
  </div>
</div>
<div class="ui main container">
  <div class="two column stackable ui grid">
    <div class="row">
      <div class="twelve wide column">
        <div class="ui card fluid">
          <div class="content">
            Server List
          </div>
          <div class="content">
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui card fluid">
          <div class="content">
            Admins Online
          </div>
          <div class="content">
            <table class="table" id="adminList">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
