{% extends "main_index.njk" %}

{% block content %}
<div class="ui middle aligned center aligned grid loginDiv">
  <div class="four wide column">
    <a class="ui fluid large inverted white submit button" href="/auth/steam">HOMEPAGE</a>
  </div>
</div>
{% endblock %}
